@{
    ViewData["Title"] = "Basket";
}

@model IEnumerable<CD>
@{ 
    double sum = 0;
}
<!-- model CD
        public int ID { get; set; }
        public string Title { get; set; }
        public double Price { get; set; }
        public int Lenght { get; set; }
        public string Direction { get; set; }
        public string Scenario { get; set; }
        public string Type { get; set; }
        public string Production { get; set; }
        public string Premiere { get; set; }
-->

<div class='movies-container clearfix'>
    @foreach (var film in Model)
    {
        <div class='film-frame'>
            <div class='zdjecie'><img src="@film.Picture"></img></div>
            <h4>@film.Title</h4>
            <p>@film.Lenght minut</p>
            <p class='info-label'>Reżyseria:</p>
            <p class='italic'>@film.Direction</p>
            <p class='info-label'>Scenariusz:</p>
            <p class='italic'>@film.Scenario</p>
            <p>@film.Production</p>
            <p>@film.Premiere</p>
            <div class='move-to-bottom'>
                <p class='bigger'>@film.Price zł</p>
            </div>
        </div>
        
    }
</div>

<a class="btn btn-success" style="position: absolute; top: 60px; right: 10px" asp-controller="Basket" asp-action="ClearBasket">Wyczyść</a>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
    </div>
    <ul class="list-group">
        <p>Koszt</p>
        @foreach (var item in Model)
            {
            sum += item.Price;
            }
        <li class="list-group-item">@sum</li>
    </ul>

    <a class="btn btn-success" asp-controller="Basket" asp-action="Result">Kup</a>
</form>
